<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">

<title>boogle</title>

    <link href="/static/css/boogle-style.css" type="text/css" rel="stylesheet">

</head>


<body>

<div>
<img src="/static/img/booglelogo_neu.png" class="image-layout-logo">
</div>

<h1>One account. All of Google</h1>
<h2>Sign up with you Google Account</h2>

<div class="box">
    <img class="round_image" src="/static/img/kitten.jpg">
<input id="input_box_email" placeholder="Enter your email">
<input id="input_box_password" placeholder="Password" input type="password">
    <div class="button">
    <a href="https://www.google.com/">Next
    </div>
    <br>
    <br>
<a href="https://www.google.com/" class="box_align_right">Need Help?</a>
</div>
    <br>
       <br>
</div>

<br>

<div class="link">
    <a href="https://www.google.com/">Create Google Account</a>
</div>
<br>
<h3>One Google Account for Everything Google</h3>

<span><a href="https://www.google.com/"><img src="https://image.flaticon.com/icons/svg/281/281764.svg" class="small_images"></a></span>
<span><a href="https://mail.google.com/mail/"><img src="https://cdn-images-1.medium.com/max/1500/1*Jj-Xzp0sIkUg23HOqzZF4w.png" class="small_images"></a></span>
<span><a href="https://maps.google.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/4/48/GoogleMaps_logo.svg" class="small_images"></a></span>
<span><a href="https://www.youtube.com/?gl=DE&hl=de"><img src="https://www.youtube.com/yt/about/media/images/brand-resources/icons/YouTube_icon_full-color.svg" class="small_images"></a></span>
<span><a href="https://www.google.com/drive/"><img src="https://upload.wikimedia.org/wikipedia/commons/d/da/Google_Drive_logo.png" class="small_images"></a></span>
<span><a href="https://images.google.de/"><img src="https://image.flaticon.com/icons/svg/281/281758.svg" class="small_images"></a></span>
<span><a href="https://play.google.com/"><img src="https://cdn.dribbble.com/users/406895/screenshots/1285787/googleplay.png" class="small_images"></a></span>
<span><a href="https://www.google.com/intl/de_ALL/chrome/"><img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Google_Chrome_icon_%28September_2014%29.svg" class="small_images"></a></span>
<br>
<br>
<br>
<br>
<div class="footer">
    <span>About Google</span>
    <span>Privacy</span>
    <span>Terms</span>
    <span>Help</span>
</div>
    <br>

</body>

</html>