<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FakeBook</title>
</head>

<a>
    <h1>Maria's Fakebook Page</h1>
<h2>This is what I like</h2>

     <img src="/static/img/pizza.jpg">
   <img src="/static/img/kitten.jpg">
    <h3>This is what I like about Pizza</h3>

    <ul>
    <li>It smells good</li>
        <li>It tastes good</li>
        <li>It's super healthy</li>
 </ul>

    <h4>here is another picture of this good stuff</h4>

<img src="https://ichef.bbci.co.uk/food/ic/food_16x9_832/recipes/alpine_pizza_32132_16x9.jpg">

    <h5>Check out the best Pizza recipes on</h5>
    <a href="https://www.chefkoch.de/"> Chefkoch.de </a>


</body>

</html>